[MdmGreeterTheme]
Encoding=UTF-8
Greeter=Arc-GDM.xml
Name=Arc-Brave GDM
Description=Smooth looking GDM.
Author=perfectska04, Daniel Fore, Subin Sebastian.
Copyright=GPL
Screenshot=screen.jpg
